<app-container>
    <div class="saw-min-h-full saw-flex saw-items-center saw-justify-center saw-pt-20 saw-pb-12 saw-px-4 sm:saw-px-6 lg:saw-px-8">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Create an Account</mat-card-title>
                <mat-card-subtitle>Already have an account? <a routerLink="/emp/login" class="saw-text-primary saw-font-medium">Login</a></mat-card-subtitle>
            </mat-card-header>
            <form>
                <mat-card-content>
                    <div class="saw-inline-flex">
                        <mat-form-field appearance="fill" class="saw-pr-1">
                            <mat-label>Firstname</mat-label>
                            <input matInput type="text" autocomplete="off">
                        </mat-form-field>
                    
                        <mat-form-field appearance="fill" class="saw-pl-1">
                            <mat-label>Lastname</mat-label>
                            <input matInput type="text" autocomplete="off">
                            <!-- <mat-error>Min size: 10px</mat-error> -->
                        </mat-form-field>
                    </div>

                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" autocomplete="off">
                        <!-- <mat-error>Min size: 10px</mat-error> -->
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput type="password">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Company Code</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </mat-card-content>

                <mat-divider></mat-divider>
                <mat-card-actions>
                    <button mat-flat-button color="primary">Create</button>
                </mat-card-actions>
                <mat-card-footer>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
            </form>
        </mat-card>
    </div>
</app-container>