<app-container>
    <div
        class="sw-min-h-full sw-flex sw-items-center sw-justify-center sw-pt-20 sw-pb-12 sw-px-4 sm:sw-px-6 lg:sw-px-8">
        <mat-card class="sw-max-w-lg sw-w-full">
            <mat-card-header>
                <mat-card-title>Sign In</mat-card-title>
                <mat-card-subtitle>
                    No Account? <a routerLink="/usr/register"
                        class="sw-text-primary sw-font-medium">Create One!</a>
                    <br>
                    Are you an employer? <a routerLink="/emp/register" class="sw-text-primary sw-font-medium">Register</a>
                    </mat-card-subtitle>
            </mat-card-header>
            <form>
                <mat-card-content>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" autocomplete="off">
                        <!-- <mat-error>Min size: 10px</mat-error> -->
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput type="password">
                    </mat-form-field>
                </mat-card-content>

                <mat-divider></mat-divider>
                <mat-card-actions>
                    <button mat-flat-button color="primary">Submit</button>
                </mat-card-actions>
                <mat-card-footer>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
            </form>
        </mat-card>
    </div>
</app-container>