@use '@angular/material' as mat;

$my-primary: mat.define-palette(mat.$pink-palette, 900);
$my-accent: mat.define-palette(mat.$indigo-palette, 500);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((color: (primary: $my-primary,
                accent: $my-accent,
                warn: $my-warn,
            )));

@include mat.all-component-themes($my-theme);

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
